.drink {
    padding: 1rem;
    flex-grow: 1;
    max-width: 200px;
    text-align: center;
    height: 400px;

    &.disabled {
        opacity: .2;
    }

    .fake-image {
        height: 150px;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
    }

    .buttons {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin: 20px auto;
    }
}

.remove-drink {
    text-align: center;
    &.x {
        font-weight: 900;
        font-size: 1rem;
        padding: .7rem;
        cursor: pointer;
        &:hover {
            color: red;
        }
    }
}
.mgCard {
    text-align: center;
    .mgRemaining {
        font-size: 4rem;
        span {
            font-size: 1.25rem;
            margin-top: -10px;
            display: block;
        }
    }
}

.btn {
    font-weight: bold;
}
